<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Allows the app to query for activities that can handle various URL schemes -->
    <queries>
        <!-- Mail apps -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto" />
        </intent>
        <!-- Phone apps -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
        <!-- SMS apps -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="sms" />
        </intent>
        <!-- Browser apps for market links -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="market" />
        </intent>
        <!-- Social media apps -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="facebook" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="twitter" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="instagram" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="whatsapp" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="youtube" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="spotify" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="maps" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManorBrowser"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name=".activity.HistoryActivity"
            android:label="@string/title_history"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.ManorBrowser" />

        <activity
            android:name=".activity.DownloadsActivity"
            android:label="@string/action_downloads"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.ManorBrowser" />

        <activity
            android:name=".activity.BookmarkActivity"
            android:label="@string/title_bookmarks"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.ManorBrowser" />

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.ManorBrowser" />

        <activity
            android:name=".activity.ReaderActivity"
            android:label="@string/title_reader_mode"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.ManorBrowser" />

        <activity
            android:name=".activity.PasswordManagerActivity"
            android:label="@string/title_password_manager"
            android:parentActivityName=".activity.SettingsActivity"
            android:theme="@style/Theme.ManorBrowser" />

    </application>

</manifest>