name: Android CI

on:
  push:
    branches: [ "main", "dev" ]
    paths-ignore:
      - '**.md'
      - 'LICENSE'
      - '.gitignore'
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and Package
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Grant Execute Permission for Gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assembleDebug --stacktrace

      - name: Get Version Name
        id: get_version
        run: |
          VERSION_NAME=$(grep "versionName" app/build.gradle | head -1 | awk -F'"' '{print $2}')
          echo "VERSION=$VERSION_NAME" >> $GITHUB_OUTPUT
          echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      - name: Rename APK
        run: |
          mv app/build/outputs/apk/debug/app-debug.apk ManorBrowser_${{ steps.get_version.outputs.VERSION }}_${{ steps.get_version.outputs.DATE }}_debug.apk

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ManorBrowser-Debug-APK
          path: ManorBrowser_${{ steps.get_version.outputs.VERSION }}_${{ steps.get_version.outputs.DATE }}_debug.apk
          retention-days: 7

  lint:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Run Lint
        run: ./gradlew lintDebug
